{% extends 'core/plantillaGlobal.html' %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="../../static/core/css/bodeguero.css">

<br>

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <B>Orden de pedido entrante:</B>

                <div style="max-height: 300px; overflow-y: auto;">
                    <table class="table">
                        <br>
                        <br>

                        <thead>
                            <tr>
                                <th scope="col">N° orden</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Vendedor</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for e in boleta %}

                            <tr>
                                <td data-label="nombre">{{e.id}}</td>
                                <td data-label="nombre">{{e.fecha}}</td>
                                <td data-label="nombre">{{e.vendedor}}</td>
                                <td>

                                    <a href=" {% url 'boleta' e.id  %} "><img src="{% static 'core/img/ver.png' %}" width="30px" alt=""></a>

                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>


            </div>
            <div class="col-lg-6 col-md-12">

                <b>Orden de pedido:</b>
                <br>
                <br>
                <div class="card">

                    <div class="container">

                        <div class="card-body">
                            <div class="flex">
                                <h5 class="card-title">N° Orden: 00001 </h5>
                                <h5>Fecha: 24-04-2023</h5>
                            </div>
                            <p class="card-text">Vendedor: Juanito Perez</p>

                        </div>
                        <table class="table">

                            <thead>
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Unidad</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for e in detalle_boleta %}
                        
                                <tr>
                                    <td data-label="nombre">{{e.producto}}</td>
                                    <td data-label="nombre">{{e.cantidad}}</td>
                                </tr>
                                {% endfor %}    

                            </tbody>
                        </table>

                    </div>

                    <div class="card-body">
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Aceptar Pedido </button>

                            <button class="btn btn-danger" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                Cancelar Pedido</button>

                        </p>
                        <!-- boton aceptar -->
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                    Enviar pedido a vendedor
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                                <button type="button"  class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Enviaremos la confirmacion "Pedido listo" al vendedor
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"><a href="{% url 'confirmarPedido' %}">aceptar</a></button>
                                                <button type="button" class="btn btn-primary">Cancelar</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- boton cancelar -->
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body">

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop2">
                                    Cancelar Pedido
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Enviaremos la confirmacion "Pedido Cancelado" al vendedor por falta de Stock
                                            </div>
                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-primary"><a href="{% url 'cancelarPedido' %}">aceptar</a></button>

                                                <button type="button" class="btn btn-primary">Cancelar</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}