{% extends 'core/plantillaGlobal.html' %}
{% load static %}
{% block contenido %}
{% load static %}
<link href="{% static 'core/css/contador.css'%}" rel="stylesheet">
<link href="{% static 'core/js/contador.js'%}" rel="stylesheet">



<div id="todito">
    <div id="confentre" style="width:60%;">
        <h1>Confirmar Entrega</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Total</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Confirmar</th>
                    
                    

                </tr>
            </thead>
            <tbody>
                {% for conf in confirmar %}
                <tr>
                    
                    <td>{{ conf.id}}</td>
                    <td>{{ conf.total }}</td>
                    <td>{{ conf.vendedor }}</td>
                    <td>{{ conf.fecha }}</td>
                    <td>{{ conf.est_pago }}</td>
                    
                    <td><form method="post" action="{% url 'actualizar_estado_pedido' pedido_id=conf.id nuevo_estado='Aceptado' %}">
                        {% csrf_token %}
                        <button type="submit">SI</button>
                    </form>
                    
                    <form method="post" action="{% url 'actualizar_estado_pedido' pedido_id=conf.id nuevo_estado='Rechazado' %}">
                        {% csrf_token %}
                        <button type="submit">No</button>
                    </form></td>
                </tr>
                {% endfor %}


            </tbody>
        </table>


    </div>
</div>




{% endblock %}