{% extends 'core/plantillaGlobal.html' %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="../../static/core/css/login.css">
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'core/css/index.css'%}" rel="stylesheet">
    <!-- <a href="{% url 'contador' %}">Ir a Contador</a>
    <a href="{% url 'form_cliente' %}">Registro Cliente</a>
    <a href="{% url 'bodeguero' %}">Bodeguero</a>
    <a href="{% url 'login' %}">Login</a> -->
</head>

<body>
    <div>
        {% load static %}
        <img class="logo" src="{% static '/core/img/guitarra.png'%}" alt="">
    </div>
    <!-- <a href="{% url 'contador' %}">Ir a Contador</a>
    <a href="{% url 'form_cliente' %}">Registro Cliente</a>
    <a href="{% url 'bodeguero' %}">Bodeguero</a>
    <a href="{% url 'login' %}">Login</a> -->


</body>

</html>

{% endblock %}
