{% extends 'core/plantillaGlobal.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{%static 'core/css/index.css'%}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script src="{% static 'core/js/index.js'%}"></script>


<script>
    // Obtener el mensaje de alerta de los parámetros de la URL
    var urlParams = new URLSearchParams(window.location.search);
    var alertMessage = urlParams.get('alert');

    if (alertMessage) {
        alert(alertMessage);
    }
</script>

<div class="catalogo">

    <div class="filtrar">
        <div class="filt">
            <div class="filtro">
                <div class="row">
                    <div class="col-md-7">
                        <div class="campos">
                            <input type="text" name="buscar" placeholder="Buscar en MusicPro" id="inbu"
                                class="form-control buscar">&nbsp;
                            <img style="width: 10%;height: 10%" src="../../static/core/img/lupa.png"
                                alt="logo facebook">

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="filtroCampo">
                            <select name="catbu" id="sebu" class="form-control buscar">
                                <option value="0">Seleccione una opción </option>
                                <option value="1">Instrumentos</option>
                                <option value="2">Amplificadores</option>
                            </select>&nbsp;
                            <img style="width: 10%;height: 10%; margin-top: 4%;" src="../../static/core/img/filtro.png"
                                alt="logo facebook">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="d-flex flex-row">
                <label for="precioSelect" class="mr-2">Moneda</label>
                &nbsp;
                <select id="precioSelect" class="form-control" onchange="mostrarPrecio()">
                    <option value="chileno">CLP</option>
                    <option value="dolar">USD</option>
                </select>
            </div>
        </div>

        <div class="cart-icon">
            <i class="bi bi-cart" onclick="mostrarPrecio()"></i>
            <span class="cart-count">0</span>
        </div>

    </div>
    <!-- Detalle del producto -->
    <div class="descripcion">
        <span class="closes botonespr">X</span>
        <h2>Descripción</h2>
        <ul class="desc-item"></ul>
    </div>
    <!-- Detalle del producto -->
    <div class="container col-12">
        <h4>Instrumentos</h4>
        <div class="cl" style="display:flex;flex-direction:row; justify-content:space-evenly">
            {% for pr in productosCategoria1 %}
            <div class="prod">
                <div class="product">
                    <img src="{{ pr.imagen.url }}" alt="{{ pr.nombre }}">
                    <h3>{{ pr.nombre }}</h3>
                    <p class="codigo">{{ pr.codigo }}</p>
                    <p class="desc">{{ pr.descripcion }}</p>
                    <p class="price chileno"><strong>${{ pr.precio }}</strong> </p>
                    <p class="priced dolar" style="display: none;"><strong>${{ pr.precio_dolar }}</strong> </p>



                    <a style="color: red !important; text-decoration: none" class="ver-descripcion"
                        data-id="{{ pr.id }}">Ver descripción</a>

                    <p class="detalle" style="visibility: hidden;">{{ pr.detalle }}</p>
                    <button class="add-to-cart botonespr" data-id="{{ pr.id }}">Agregar al carrito</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>

     <!-- Detalle del producto -->
     <div class="descripcion">
        <span class="closes botonespr">X</span>
        <h2>Descripción</h2>
        <ul class="desc-item"></ul>
    </div>
    <!-- Detalle del producto -->
    <div class="container col-12">
        <h4>Amplificadores</h4>
        <div class="cl" style="display:flex;flex-direction:row; justify-content:space-evenly">
            {% for pr in productosCategoria2 %}
            <div class="product">
                <div class="product">
                    <img src="{{ pr.imagen.url }}" alt="{{ pr.nombre }}">
                    <h3>{{ pr.nombre }}</h3>
                    <p class="codigo">{{ pr.codigo }}</p>
                    <p class="desc">{{ pr.descripcion }}</p>
                    <p class="price chileno"><strong>${{ pr.precio }}</strong> </p>
                    <p class="priced dolar" style="display: none;"><strong>${{ pr.precio_dolar }}</strong> </p>



                    <a style="color: red !important; text-decoration: none" class="ver-descripcion"
                        data-id="{{ pr.id }}">Ver descripción</a>

                    <p class="detalle" style="visibility: hidden;">{{ pr.detalle }}</p>
                    <button class="add-to-cart botonespr" data-id="{{ pr.id }}">Agregar al carrito</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Detalle del Carrito -->
    <div class="overlay"></div>

    <div class="cart">
        <h2>Carrito de Compras</h2>
        <ul class="cart-items"></ul>
        <div class="cart-total">
            <strong style="margin-left: 10px;">Total:</strong>
            <span class="total">$0</span>
            <span class="totalc" style="display: none;">$0</span>
            <button id="pago" class="checkout">Pagar</button>
        </div>
    </div>
    <!-- Detalle del Carrito -->

    <script>
        function mostrarPrecio() {
            var select = document.getElementById("precioSelect");
            var selectedOption = select.options[select.selectedIndex].value;
            var productos = document.getElementsByClassName("product");
            var productosc = document.getElementsByClassName("productc");


            for (var i = 0; i < productos.length; i++) {
                var product = productos[i];
                var precioChileno = product.querySelector(".price.chileno");
                var precioDolar = product.querySelector(".priced.dolar");

                if (selectedOption === "chileno") {
                    precioChileno.style.display = "block";
                    precioDolar.style.display = "none";
                } else if (selectedOption === "dolar") {
                    precioChileno.style.display = "none";
                    precioDolar.style.display = "block";
                }
            }
            var total1 = document.querySelector(".total");
            var totalc1 = document.querySelector(".totalc");


            if (selectedOption === "chileno") {
                total1.style.display = "block";
                totalc1.style.display = "none";

            } else if (selectedOption === "dolar") {
                total1.style.display = "none";
                totalc1.style.display = "block";

            }

            for (var i = 0; i < productosc.length; i++) {
                var productc = productosc[i];
                var precioChilenoc = productc.querySelector(".pricec.chileno");
                var precioDolarc = productc.querySelector(".pricecd.dolar");

                if (selectedOption === "chileno") {
                    precioChilenoc.style.display = "block";
                    precioDolarc.style.display = "none";

                } else if (selectedOption === "dolar") {
                    precioChilenoc.style.display = "none";
                    precioDolarc.style.display = "block";

                }
            }

        }
    </script>

    {% if request.session.usuario|default_if_none:"invitado" == "invitado" %}
    <div id="modalinv" class="modal">
        <div class="modal-content">
            <span class="close" id="cmodalinv">&times;</span>
            <h1>Invitado</h1>
            <p>Vemos que estas intentando comprar sin estar registrado. Registrate para conseguir un descuento del 15%
                si compras sobre 4 productos</p>

            <button id="btniv" class="botonespr">Invitado</button>

            <form action="{% url 'form_cliente' %}">
                <button class="botonespr" type="submit">Registro</button>
            </form>
            <form action="{% url 'login' %}">
                <button class="botonespr" type="submit">Iniciar Sesión</button>
            </form>

        </div>
    </div>
    <h1 class="session" style="display: none;">invitado</h1>
    {% endif %}




    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" id="cmodal1">&times;</span>
            <h1>Metodos de pago</h1>
            <button id="debito" class="botonespr">Tarjetas</button>
            <button id="transferencia" class="botonespr">Transferencia</button>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <span class="close" id="cmodal2">&times;</span>
            <h1>Datos de Transferencia</h1>
            <p>Rut: 20.880.577-0</p>
            <p>Banco: Banco Estado</p>
            <p>Cuenta: Vista</p>
            <p>Numero cuenta: 20880577</p>
            <p>Correo: wi.menares@duoc.cl</p>
            <button id="conftrans" class="botonespr">Transferido</button>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <span class="close" id="cmodal3">&times;</span>
            <h1>Gracias por su compra</h1>
            <p>Clickeando el boton sera enviado a pagar</p>
            <form action="{% url 'transbank' %}" method="post">
                {% csrf_token %}
                <button class="botonespr" id="conf">Ir a pagar</button>
                        
            </form>

        </div>
    </div>

    {% endblock %}