* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.products{
  display: flex;
  justify-content:center;
  text-align: center;
  margin-left: 5%; 
}

.campos{
  display:flex;
  flex-direction: row;
}
.filtroCampo{
  display:flex;
  flex-direction: row;

}

.filtrar {
 background-color: black;
 color:white;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 height: 5%;
}

.filtro {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.filt{
  display: flex;
  flex-direction: row;
}

#fila {
  margin-left: 10%;
  margin-bottom: 20px;
}

/*Descripcion Producto*/

.descripcion {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}



.descripcion img {
  width: 200px;
}



.show-descripcion {
  transform: translateX(0);
  transition: transform 0.3s ease;
}


/*Fin Descripcion Producto*/



.botonespr {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px red;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.botonespr:hover {
  background-color: rgb(144, 8, 8);
  box-shadow: 0 2px rgb(144, 8, 8)  ;
  transform: translateY(2px);
}

.product img {
  width: 100px;
  height: 100px;
}


/*Carrito*/
.cart-icon {
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

.cart-icon:before,
.cart-icon:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}

.cart-icon:after {
  transform: rotate(-45deg);
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 60, 255);
  border-radius: 50%;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s ease 0.3s;
}

.show-overlay {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.show-cart {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.cart-title {
  font-size: 24px;
}

.cart-items {
  list-style: none;
  padding: 10px;
  height: 80%;
  overflow-y: scroll;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-items img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-items h4 {
  margin-bottom: 5px;
}

.cart-items p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #999;
}

.cart-items button {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f00;
  color: #fff;
  border: none;
}
.cart-total button {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f00;
  color: #fff;
  border: none;
}

/*Fin Carrito*/

/*Modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/*Fin Modal*/