body {
    height: 100%;
  
}

header {
    background-color: black;
    color: white;
    height: 20%;
}

a {
    text-decoration: none !important;
    color: white !important;

}

a:hover {
    color: red !important;
}
.colu {
    display: flex;
    flex-direction: row !important;
}
.encabezado{
display: flex;
align-items:end;
margin-top:5%
}

.logos>img{
    width: 30px;
    height: 30px;

}
.logos{
   display:flex;
   align-items: center;

}
#nav2{
display: flex;
align-items: center;
}
.horario{
    display: flex;
    padding-right:20px;

}